.blocked {
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.div-blocked {
    background-color: black;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-blocked:hover {
    background-color: black;
}

.div-blocked a {
    color: red;
}