.blocked {
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.div-blocked{
    background-color: black;
}
.div-blocked:hover {
    background-color: black;
}
.div-blocked a {
    color: red;
}