body {
    width: 400px;
    height: 550px;
    background-color: #101315;
    color: cornsilk;
    position: relative;
}

a {
    color: cornsilk;
}

a:hover{
    color: darkgrey;
}

.remove {
    background-image: url('./remove.png');
    height: 30px;
    width: 30px;
}

.input-group input {
    width: 200px;
}