body {
    width: 400px;
    height: 550px;
    background-color: #101315;
    color: cornsilk;
    position: relative;
}

#main {
    margin-top: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a {
    color: cornsilk;
}

a:hover {
    color: darkgrey;
}

.remove {
    background-image: url('./remove.png');
    height: 30px;
    width: 30px;
}

.input-group input {
    width: 200px;
}

.keyword-input {
    width: 75%;
}

.remove-button {
    width: 22%;
    margin-left: 3%;
}